.navbar{
    height: 70px;
}
#forBody{
    height: 460px;
}
.jumbotron{
    background-color: lightskyblue;
}
#footer{
    background-color: black;
}
#mynavbar{
    background-color: blueviolet;
}
body{
    background-image: url(Images/background-img-1.webp);
}
#heading-card{
    background-color: azure;
}
#card-heading{
    height: 450px;
}
.typed-out{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 20 rem;
    width: 0;
    animation: typing 4s forwards;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}